#ma-main{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 20px;
    flex-direction: column;
    width: 100%;
}
#ma-body{
    display: flex;
    width: 100%;
    border: 2px solid red;
    padding: 10px;
}
#ma-child1{
    width: 30%;
    background-color: blueviolet;
    color: white;
}
#ma-child2{
    width: 70%;
}
#ma-child1-ul{
    list-style-type: none;
}
#ma-child1-li{
    padding: 30px 10px 30px 10px;
    
}
#ma-child1-li:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}